{% extends 'base_content.html' %}
{% block content %}
<!-- Main container with full viewport height and a black background -->
<div class="container-fluid bg-black vh-100">
  <!-- Row for centering the content horizontally and vertically -->
  <div class="row justify-content-center align-items-center h-100">
    <!-- Empty column for spacing and centering the form -->
    <div class="col-4">
    </div>
    <!-- Column containing the card with the form -->
    <div class="col-4">
      <!-- Card with custom styles, full height, rounded corners, dark background, and light text -->
      <div class="card h-99 rounded-9 bg-dark text-light" style="border: none; padding:27px;">
        <!-- Heading for the form with custom font and color -->
        <h1 class="typed-text" style="font-family: 'Roboto Mono', monospace; color:#30D5C8;"> Change password</h1>
        <!-- Form for changing password, POST method, action URL obtained from Django's URL pattern -->
        <form action="{% url 'password' %}" method="post">
          <!-- CSRF token for security -->
          {% csrf_token %}
          <!-- Include a Django partial template for the form, passing the form as a context variable -->
          {% include 'partials/bootstrap_form.html' with form=form %}
          <!-- Submit button with custom styling -->
          <input type="submit" value="Change password" class="btn btn-primary" style="background-color: #30D5C8; color: black; border-color: aliceblue;">
        </form>
      </div>
    </div>
  </div>
</div>
<!-- Additional CSS styles can be added here -->
<style>
{% endblock %}

<style>
  /* Define the animation for typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 80% }
  }
  /* Apply the typing animation to the 'typed-text' class */
  .typed-text {
    overflow: hidden;
    border-right: .15em solid white; /* Adjust the border to mimic typing cursor */
    white-space: nowrap;
    margin: 0 auto; /* Center the text */
    letter-spacing: .1em; /* Adjust letter spacing for better appearance */
    animation: typing 2s steps(30, end);
  }

  .forgot_password{
    font-family: 'Roboto Mono', monospace;
    color:#30D5C8
  }
</style>








{% endblock %}
