{% include 'base_content.html' %}

{% block content %}
<div class="container">
  <div class="row justify-content-center align-items-center">
    <div class="col-md-4 col-lg-4 order-lg-1">
      <div class="card h-100 rounded-9 bg-dark text-light" >
        <h1 class = "confirm-invitation"> Invitation Confirmation </h1>
        <p>You have received an invitation to join <span>{{ invitation.team.name }}</span>.</p>
        <p>Please choose an action:</p>
        <form method="post">
          {% csrf_token %}
          <button type="submit" name="accept" class="btn btn-light btn-block" >Accept</button>
          <button type="submit" name="reject" class="btn btn-light btn-block reject">Reject</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
