{% include 'base_content.html' %}

{% block content %}
<style>
  /* Custom CSS for the dashboard */
  body {
    background-color: black;
    color: white;
    font-family: 'Roboto Mono', monospace;
  }

  /* Define pastel colors for the cards */
  .card-pastel-blue {
    background-color: #30D5C8;
    padding: 20px;
    border-radius: 10px;
  }

  /* Adjust alignment for form elements */
  form {
    display: flex;
    flex-direction: column;
  }

  label,
  input,
  select,
  button {
    margin-bottom: 10px;
  }
</style>

<div class="container">
  <div class="row justify-content-center align-items-center">
    <div class="col-md-4 col-lg-4 order-lg-1">
      <div class="card h-100 rounded-9 bg-dark text-light" style="border: none; padding: 27px;">
        <h2 style="color: #30D5C8;">Confirm Removal</h2>
        <p>Are you sure you want to remove <span style="color: #30D5C8;">{{ member_to_remove.username }}</span> from the team?</p>
        <form method="post">
          {% csrf_token %}
          <button type="submit" class="btn btn-light btn-block" style="background-color: #30D5C8;">YES</button>
        </form>
        <a href="{% url 'team_detail' team.id %}" class="btn btn-light btn-block" style="background-color: red;">NO</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}

