{% include 'base_content.html' %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-12">
      <h1 class="welcome;">Welcome to your dashboard <span class="username">{{ user.username }}</span></h1>
    </div>
    <!-- Display user's teams -->
    <h2 >Your Teams</h2>
    {% for team in user_teams %}
      <div class="col-md-4 mb-4">
        <a href="{% url 'team_detail' team.id %}" class="team-box">
          <div class="card card-pastel-blue">
            <div class="card-body">
              <h5 class="card-title">{{ team.name }}</h5>
            </div>
          </div>
        </a>
      </div>
    {% endfor %}
  </div>

  <!-- Display tasks assigned to the user -->
  <div class="row mt-4">
    <div class="col-12">
      <h2>Your Tasks</h2>
      <ul>
        {% for task in user_tasks %}
          <li>
            {{ task.description }} - Due: {{ task.due_date }} - Team: {{ task.team.name }}
            {% if request.user in task.assigned_to.all %}
              <span class="assigned-user"></span>
            {% endif %}
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>


  <!-- Notifications section -->
  <div class="notifications">
    <h2 class="notifications-header">Notifications</h2>
    {% if user_notifications %}
      {% for notification in user_notifications %}
        <div>
          {% if notification.invitation %}
            <p>Invitation to join Team: {{ notification.invitation.team.name }}</p>
          {% else %}
            <p>No Associated Invitation</p>
          {% endif %}
          <a href="{% url 'confirm_invitation' notification.invitation.id %}" class ="confirm-invitation">{{ notification.message }}</a>
        </div>
      {% endfor %}
    {% else %}
      <p class="no-notifications">You have no new notifications.</p>
    {% endif %}
  </div>
</div>

{% endblock %}



