{% extends 'base.html' %}
{% block body %}
  <div class="container-fluid bg-black vh-100">
    <div class="row justify-content-center align-items-center h-100">
      <div class="col-md-6 col-lg-4">
        <div class="card h-99 rounded-5 bg-dark text-light" style="border: none; padding: 27px;">
          <h1 class="cover-heading" style="color: #30D5C8; font-size: 2.5rem;">Task Manager</h1>
          <p class="cover-text low-key" style="font-size: 1rem;">A task manager application by Team <i class="low-key">PELICAN</i></p>
          <p>
            <a href="{% url 'sign_up' %}" class="btn btn-sm btn-light" style="background-color: #30D5C8;">Sign up</a>
          </p>
          <p>
            <a href="{% url 'log_in' %}" class="btn btn-sm btn-light" style="background-color: #30D5C8;">Log in</a>
          </p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
