{% extends 'base_login.html' %}
{% block content %}
<div class="container-fluid bg-black vh-100">
  <div class="row justify-content-center align-items-center h-100">
    <div class="col-md-6 col-lg-4 order-lg-2">
      <!-- Center-Right Card -->
      <div class="card h-99 rounded-9 bg-dark text-light">
        <h1 class="text-center typed-text ">Hi,Welcome Back!</h1>
        <!-- Rest of your form -->
        <form action="{% url 'log_in' %}" method="post">
          {% csrf_token %}
          <div class="p-3">
            <input type="text" name="username" class="form-control mb-3" placeholder="Enter your username">
            <input type="password" name="password" class="form-control mb-3" placeholder="Enter your password">
            <button type="submit" class="btn btn-light btn-block" >Log in</button>
            <div class="row mt-3">
              <small>Not a member yet? <a href="{% url 'sign_up' %}">Sign Up</a></small>
            </div>
            <div class="row mt-3">
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="col-md-6 col-lg-4 order-lg-1">
      <!-- Centre-Left Card -->
      <!-- <div class="card rounded-5 bg-dark text-light" style="border: none; padding: 20px;"> -->
        <!-- Centre-Left Card -->
        <div class="text-center">
          <img src="../static/images/image.png" class="img-fluid" alt="Background Image">
        </div>
        <p class="text-white fs-2 mb-0"> <span class = text-turquoise>Manage</span> your tasks</p>
        <!-- <small class="text-white mb-0" style="width: 17rem;font-family: 'Courier New', Courier, monospace;">Join us to help make managing your tasks easier</small> -->
        <!-- Additional content here -->
      </div>
    </div>
  </div>
</div>

{% endblock %}

