{% extends 'base_login.html' %}
{% block content %}
<div class="container-fluid bg-black vh-100">
  <div class="row justify-content-center align-items-center h-100">
    <div class = "col-4">
    </div>
    <div class="col-4">
      <div class = "card h-99 rounded-9 bg-dark text-light">
        <h1 class = "typed-text"> Sign up</h1>
        <form action="{% url 'sign_up' %}" method="post" class = 'sign_up'>
          {% csrf_token %}
          {% include 'partials/bootstrap_form.html' with form=form %}
          <input type="submit" value="Sign up" class="btn btn-primary">
        </form>
    </div>
    </div>
    <div class = "col-4">
    </div>

  </div>
</div>


{% endblock %}
