{% extends 'base_content.html' %}
{% block content %}
<div class="container-fluid bg-black vh-100">
  <div class="row justify-content-center align-items-center h-100">
    <div class = "col-4">
    </div>
    <div class="col-4">
      <div class = "card h-99 rounded-9 bg-dark text-light" style = "border: none; padding:27px;">
        <h1 class = "typed-text" style = "font-family: 'Roboto Mono',monospace; color:#30D5C8" ;> Sign up</h1>
        <form action="{% url 'sign_up' %}" method="post" class = 'sign_up'>
          {% csrf_token %}
          {% include 'partials/bootstrap_form.html' with form=form %}
          <input type="submit" value="Sign up" class="btn btn-primary" style="background-color: #30D5C8;color: black; border-color: aliceblue;">
        </form>
    </div>
    </div>
    <div class = "col-4">
    </div>

  </div>
</div>
<style>
  /* Define the animation for typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 80% }
  }

  /* Apply the typing animation to the 'typed-text' class */
  .typed-text {
    overflow: hidden;
    border-right: .15em solid white; /* Adjust the border to mimic typing cursor */
    white-space: nowrap;
    margin: 0 auto; /* Center the text */
    letter-spacing: .1em; /* Adjust letter spacing for better appearance */
    animation: typing 2s steps(30, end);
  }

  .sign_up {
    font-family: 'Roboto Mono', monospace;
    color:#30D5C8
  
  }
</style>

{% endblock %}
