{% extends 'base_content.html' %}
{% block content %}


<div class="container">
  <div class="row justify-content-center align-items-center h-100">
    <div class="col-4">
    </div>
    <div class = "col-4">
      <div class = "card h-99 rounded-9 bg-dark text-light">
        <h1 class="team">Create your team</h1>
      <form method="post">
        {% csrf_token %}
        <label for="id_name">Team Name:</label>
        <input type="text" name="name" id="id_name">
        <label for="id_members">Select Members:</label>
        <div id="id_members">
          {% for user in users %}
            <input type="checkbox" id="user_{{ user.id }}" name="members" value="{{ user.id }}">
            <label for="user_{{ user.id }}">{{ user.username }}</label><br>
          {% endfor %}
        </div>
        <button class = 'card-pastel-blue btn btn-light btn-block' type ="submit">Create</button>
      </form>
    </div>
  </div>
  <div class = "col-4">
  </div>
</div>
</div>
{% endblock %}
